@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Chovo+Mono');
@import url('bulma/css/bulma.css');
@import url('material-design-icons/iconfont/material-icons.css');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
.App {
  text-align: center;
  height: 100%;
  min-width: 1100px;
  max-width: 100%;
}

.NavBar {
  font-family: IBM Plex Mono;
  width: 1100px;
  height: 70px;
  background-color:#44475a;
  color: #ff79c6;
  display: flex;
  margin:auto;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 10;
  border-top: 0px;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #ff89d9;
  /* box-shadow: 0px 8px 30px rgba(255, 100, 156, 0.5); */
}

.NavBar--logo > img {
  width: 60px;
  margin-left: 12px;
}

.NavBar--contents{
  margin-right: auto;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavBar--contents--socials{
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavBar--contents > div {
  display: inline-flex;
  margin-right: 12px;
  padding: 5px;
  /* border: 1px solid #44475a; */
}

.NavBar--contents--socials > a {
  display: inline-flex;
  margin-right: 12px;
  padding: 5px;
  border: 1px solid #44475a;
}

.NavBar--contents > div > a {
  margin-right: 15px;
  padding: 5px;
  font-weight: 800;
  font-size: large;
  color: #ff79c6;
  text-decoration: none;
  border: 1px solid #44475a;
}

.NavBar--contents--socials >  a {
  margin-right: 15px;
  padding: 5px;
  font-weight: 800;
  font-size: large;
  color: #ff79c6;
  text-decoration: none;
}

/* .NavBar--contents > div > a :hover{
  border: 1px solid #50fa7b;
  border-radius: 4px;
}

.NavBar--contents--socials > a :hover{
  border: 1px solid #50fa7b;
  border-radius: 4px;
} */

.About {
  margin-top: 40px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  
  /* position: absolute; */
  width: 1100px;
  /* height: 700px; */
  left: 0px;
  top: 0px;
}

.About--col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  text-align: left;
  /* position: absolute; */
  width: 538px;
  height: 247px;
  left: 180px;
  top: 201px;
}

.circular-image {
  display: inline-block; 
  position: relative; 
  width: 350px; 
  height: 350px; 
  overflow: hidden; 
  border-radius: 50%; 
  border: 5px solid #6272a4;
  box-shadow: 0px 8px 30px rgba(98, 110, 164, 0.5);
  /* position: absolute; */
  /* left: 75%;
  top: 150px; */
} 

.circular-image img { 
  width: 350px; 
  height: auto;
}

.About--purpose {
  width: 492px;
  height: 72px;

  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.01em;

  color: #9C9C9C;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}


.About--col1 > button {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 21px 64px;
  gap: 10px;

  width: 307.89px;
  height: 63px;

  background: #ff79c6;
  border: 1px solid #ff89d9;
  border-radius: 8px;
  box-shadow: inset 0 0 35px 0px rgba(0, 0, 0, 0.25),
        inset 0 2px 1px 1px rgba(255, 255, 255, 0),
        1px 1px 15px 2px rgba(255, 100, 156, 0.5);


  -webkit-transition: box-shadow 0.4s, text-shadow 0.5s;
  -moz-transition: box-shadow 0.4s, text-shadow 0.5s;
  transition: box-shadow 0.4s, text-shadow 0.5s;
  /* Inside auto layout */

  order: 1;
  flex-grow: 0;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #282a36;
}
.About--col1 > button:hover {
    cursor: pointer;

    box-shadow: inset 0 0 35px 0px rgba(0, 0, 0, 0.15),
        inset 0 2px 1px 1px rgba(255, 255, 255, 0),
        1px 1px 15px 2px rgba(154, 137, 164, 0.1);

    -webkit-transition: box-shadow 0.4s, text-shadow 0.5s;
    -moz-transition: box-shadow 0.4s, text-shadow 0.5s;
    transition: box-shadow 0.4s, text-shadow 0.5s;
}

.About--col1 > button:active {
    background: linear-gradient(
        30deg,
        rgba(139, 233, 253, 1) 0%,
        rgba(177, 183, 223, 1) 100%
    );
    /* color: rgba(192, 181, 218, 1); */

    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.15),
        1px 1px 15px 2px rgba(154, 137, 164, 0.1);


    -webkit-transition: background 0.3s color 0.2s,
        text-shadow 0.3s box-shadow 0.3s;
    -moz-transition: background 0.3s color 0.2s,
        text-shadow 0.3s box-shadow 0.3s;
    transition: background 0.3s color 0.2s, text-shadow 0.3s box-shadow 0.3s;
}


.About--col1 > button :hover {
  cursor: pointer;
}

.About--Name {
  width: 426px;
  height: 52px;

  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.Main{
  background-color: #282a36;
  display: block;
  margin: auto;
  min-width: 1100px;
  max-width: 100%;
}

.Resume {
  overflow: scroll;
  border: 1px solid #ff89d9;
  box-shadow: 0px 8px 30px rgba(255, 100, 156, 0.5);
  border-radius: 4px;
  width:600px;
  height: 400px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #282a36;
  overflow-x: hidden;
}

.Resume--img {
  width: 500px;
  padding: 20px;
}

.Resume::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
}

.Resume::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(98, 114, 164, 0.3);
}
 
.Resume::-webkit-scrollbar-thumb {
  background-color: #6272a4;
  outline: 1px solid #282a36;
}

.WorkedWith {
  width: 900px;
  font-family: IBM Plex Mono;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: whitesmoke;
  /* text-align: left; */
  background-color: #282a36;
  margin-top: 40px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.WorkedWith--header {
  text-align: left;
  align-items: center;
  justify-content: center;
}

.logos {
  display: inline-flex;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-evenly;
  flex: 1;
  padding-bottom: 20px;
}

.logos--indvdl {
  width: 150px;
}

.Education {
  background-image: linear-gradient(diagonal, #6273a4, #ff79c6);
  width: 1100px;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.Education--header {
  font-size: xx-large;
  color: #f8f8f2;
  font-weight: 800;
  font-size: 100px;
  margin-top: 20px;
  text-align: left;
  padding-left: 5px;
}

.EdCard {
  /* width: 500px; */
  text-align: left;
  background-color: #44475a;
  color: #FFFFFF;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 8px 30px rgba(98, 110, 164, 0.6);
}

.Degree--name {
  font-size: 40px;
  font-weight: 500;
  border: 0px;
  border-bottom: 1px;
  border-style: dotted;
  border-color: white;
  padding: 5px;
}

.Degree--institution {
  padding: 4px;
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  font-family: IBM Plex Mono;
}

.Degree--date {
  padding: 2px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: 400;
  font-style: oblique;
}

.Degree--remarks {
  padding: 3px;
  font-size: 25px;
  font-weight: 450;
  font-style: normal;
}

.WorkExperience {
  width: 1100px;
  margin: auto;
  text-align: left;
}

.WorkExperience--header {
  font-weight: 800;
  font-size: 100px;
  color: #f8f8f2;
}

.WorkExperience--details {
  /* width: 1000px; */
  margin: auto;
}

.WorkExCard {
  background-color: #f2f2f2;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.Position {
  font-size: 40px;
  font-weight: 500;
  border: 0px;
  border-bottom: 1px;
  border-style: dotted;
  border-color: #282a36;
  padding: 5px;
}

.CompanyName {
  padding: 4px;
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  font-family: IBM Plex Mono;
}

.Duration {
  padding: 2px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: 400;
  font-style: oblique;
}

.BriefDescription {
  padding: 3px;
  font-size: 25px;
  font-weight: 450;
  font-style: normal;
}

.Footer {
  bottom:0;
  height: 75px;
  font-family: IBM Plex Mono;
  color: aliceblue;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

.Projects {
  width: 1100px;
  margin: auto;
  text-align: left;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.Projects--header{
  font-size: xx-large;
  color: #f8f8f2;
  font-weight: 800;
  font-size: 100px;
  margin-top: 20px;
  text-align: left;
  padding-left: 5px;
}

.Project--container {
  width: 667px;
  margin: auto;
}
.Projects--horizontal {
  overflow-x: scroll;
  /* align-items: center;
  margin: auto;
  justify-content: center; */
  /* width: min-content; */
  
  /* cursor: grab; */
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: repeat(6, calc(70% - var(--gutter) * 2));
  grid-template-rows: minmax(150px, 1fr);
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));

  padding: 0;

}

.Projects--horizontal {
    -webkit-overflow-scrolling: touch;
}

.Projects--horizontal::-webkit-scrollbar {
  /* width: 10px; */
  height: 10px;
  cursor: grab;
}

.Projects--horizontal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(98, 114, 164, 0.3);
}
 
.Projects--horizontal::-webkit-scrollbar-thumb {
  background-color: #282a36;
  outline: 2px solid #6272a4;
  border-radius: 8px;
}

.Project--item {
  scroll-snap-align: center;
  flex-direction: column;
  margin: 10px 5px 10px 5px;
  width: fit-content;
  display: flex;
  padding: calc(var(--gutter) / 2 * 1.5);
  background: #282a36;
  border-radius: 8px;
  color: #f2f2f2;
  
  /* justify-content: center; */
  /* height: max-content; */
}

:root {
  --gutter: 20px;
}

.Project--name {
  padding: 4px;
  font-size: 40px;
  font-weight: 800;
  font-style: italic;
  font-family: IBM Plex Mono;
  border: 0px;
  border-bottom: 2px;
  border-style: solid;
  border-color: #ff79c6;
}

.Project--preview {
  margin: auto;

}
.Project--preview > img{
  height: 300px;
  border-radius: 8px;
  border: 3px solid #ff79c6;
}

.Project--descr {
  padding: 3px;
  font-size: 1vw;
  font-weight: 450;
  font-style: normal;
}

.Project--duration {
  padding: 2px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: 400;
  font-style: oblique;
  border: 0px;
  border-bottom: 1px;
  border-style: dotted;
  border-color: #282a36;
}

.Project--link {
  padding: 2px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: 400;
  font-style: oblique;
  border: 0px;
  border-bottom: 1px;
  border-style: dotted;
  border-color: #282a36;
}
